@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Average&display=swap');

$clr-main: white;
$clr-secondary: #FF9F1C;
$clr-main-bg: #F8F4E3;

$clr-green: #58B030;
$clr-darkgreen: #1D431E;

$clr-lightblue: #3FBCCE;
$clr-lighterblue: #DBFAFF;

$ff-main: "Audiowide", sans-serif;
$ff-secondary: "Average", serif;

$fw-regular: 400;

$fs-xs: 1rem; //16
$fs-sm: 1.5rem; //24
$fs-md: 2.25rem; //36
$fs-lg: 3rem; //48
$fs-xl: 4rem; //64